PATCH16_POLICY_REPO_ID=piarosebelledelapaz/multitask_dit_so101plain_clippatch16_bs32
PATCH32_POLICY_REPO_ID=piarosebelledelapaz/multitask_dit_so101plain_clippatch32_bs64
DATASET_REPO_ID=Robot-Learning-Group45/so101_plain
